// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.hero-container {
    margin-top: $headerHt;
}

.category{
    &-container--btns {
        @include flex(row, space-evenly);
        flex-wrap: wrap;
    }
    &__title {
        font-size: $minTitleFontSize;
        margin-left: 5px;
    }
}