// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.hero-container {
    margin-top: $headerHt;
}

.category {
    &__title {
        display: none;
    }
    &-container {
        margin-left: 10px;
        &--btns {
            display: none;
        }
    }
    @include sm-screens {
        &__title {
            display: inline-block;
        }
        &-container--btns {
            @include flex(row, center);
            flex-wrap: wrap;
        }
    }
    @include lg-screens {
        &-container {
            @include flex(column, flex-start, center);
        }
        &-container--btns {
            max-width: 320px;
        }
        &__title {
            margin-left: 10px;
        }
    }
}