p, a {
    font-size: 15px;
}

.content-container {
    @include flex(column, center);
    margin-top: 10px;
    @include lg-screens {
        @include flex(row-reverse);
    }
}

.flex-container {
    @include lg-screens {
        &--side {
            width: 33%;
        }
        &--main {
            width: 67%;
        }
    }
    
}

.list {
    &-summary,
    &-full {
        &-container {
            @include flex(column, flex-start, center);
        }
        &__title {
            align-self: flex-start;
            margin-left: 10px;
        }
        &__list {
            margin: 0;
            padding: 0;
            width: 90%;
            min-width: 370px;
        }
        &__lnk {
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 13px;
            margin-right: 10px;
            align-self: flex-end;
            &--title {
                font-size: 18px;
                margin-top: 10px;
                margin-left: 5px;
                align-self: flex-start;
                font-style: normal;
            }
        }
    }
    &-full {
        &__lnk--title {
            pointer-events: none;
        }
        @include md-screens {
            &__title {
                font-size: 24px;
                position: fixed;
                margin-left: 5px;
            }
        }
    }
    &-deal-container {
        display: none;
        @include lg-screens {
            @include flex(column, center);
            & .list-inner-container {
                align-self: center;
                width: 200px;
            }
        }
    }
    &-inner-container {
        @include flex(row, center);
        flex-wrap: wrap;
        margin-top: 0;
        position: relative;
        padding-bottom: 15px;
        @include md-screens {
            justify-content: center;
            &--full{
                margin-left: 160px;
            }
        }
    }
}

.detail-game-block {
    &--layout {
        margin: 10px;
    }
}


.not-found {
    &__img {
        width: 80%;
    }
}