p, a {
    font-size: 15px;
}
.list-summary,
.list-full {
    &-container {
        @include flex(column, flex-start, center);
    }
    &__title {
        align-self: flex-start;
    }
    &__list {
        margin: 0;
        padding: 0;
        width: 90%;
        min-width: 370px;
    }
    &__lnk {
        font-size: 13px;
        margin-top: -10px;
        align-self: flex-end;
        &--title {
            font-size: 18px;
            margin-top: 10px;
            margin-left: 5px;
            align-self: flex-start;
            font-style: normal;
        }
    }
    
}

.list-full {
    &-container {
        margin-top: $headerHt;
    }
    &__lnk--title {
        pointer-events: none;
    }
}


.detail-game-block {
    &--layout {
        margin: 10px;
    }
}
