.carousel {
    position: relative;
    height: 70vw;
    max-height: 350px;
    &-flex-container {
        margin-top: $headerHt;
        position: relative;
        display: inline-block;
    }
    &-container {
        position: relative;
    }
    &__tag {
        position: absolute;
        top:0;
        left: 15px;
        margin:0;
        padding: 5px;
        border-radius: 0 0 5px 5px;
        background: rgba(0,0,0,0.4);
        z-index: 1;
    }
    &__image {
        width:125vw;
        height: 100vw;
    }
    &__slide-title {
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 18px;
        font-weight: 700;
        background: $darkBg;
        padding: 2px 5px;
        z-index: 1;
        transition: all ease 700ms;
        &.selected {
            opacity: 1;
            transition: all ease 700ms;
            
        }
    }
    &__lnk {
        display:inline-block;
    }
// -----Media Queries-----
    @include sm-screens {
        max-width: 550px;
        &-flex-container {
            display: flex;
            justify-content: center;
        } 
        &__image {
            margin-top: 15%;
            max-height: 500px;
        }
    }
    @include md-screens {
        max-height: 300px;
        max-width: 600px;
    }
    @include lg-screens {
        max-height: 400px;
        max-width: 700px;
    }

}

.slide {
    opacity: 0;
    transition: opacity 1000ms ease;
    &.selected {
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
    }
// -----Media Queries-----
    @include sm-screens {
        transform: scale(1.4);
        &.selected {
            transform: scale(1.3);
            right:25%;
            perspective: 1000;
            animation: slide-x-sm 50000ms ease;
        }
    }
    @include md-screens {
        transform: scale(1.5);
        &.selected {
            transform: scale(1.4);
            right:10%;
            animation: slide-x-md 40000ms ease;
        }
    }
}

.control-dots {
    bottom: 25px;
}

@keyframes slide-x-sm {
    0%{
        transform: translateZ(0);
    }
    1% {
        transform: translate3d(25%,0,0) scale(1.5);
    }
    100%{
        transform: translate3(0,0,0) scale(1.3);
    }   
}

@keyframes slide-x-md {
    0%{
        transform: translateZ(0);
    }
    1% {
        transform: translate3d(15%,0,0) scale(1.6);
    }
    100%{
        transform: translate3(0,0,0) scale(1.4);
    }
}

