.carousel-container {
    margin-top: $headerHt;
    position: relative;
    display: inline-block;
}

.carousel {
    position: relative;
    &__tag {
        position: absolute;
        top:0;
        left: 15px;
        margin:0;
        padding: 5px;
        border-radius: 0 0 5px 5px;
        background: rgba(0,0,0,0.4);
        z-index: 1;
    }
    &__image {
        width:125vw;
        height: 100vw;
        @include sm {
            margin-top: 9%;
        }
    }
    &__slide-name {
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 700;
        background: $darkBg;
        padding: 2px 5px;
        z-index: 1;
    }
    &__lnk {
        display:inline-block;
    }
}

.slide {
    @include sm {
        transform: scale(1.3);
    }
    opacity: 0;
    transition: opacity 1000ms ease;
    &.selected {
        opacity: 0.8;
        @include sm {
            transform: scale(1.3);
            right:25%;
            animation: slide-x 50000ms ease;
        }
        &:hover {
            opacity: 1;
        }
    }
}

@keyframes slide-x {
    0%{
        transform: translate3d(25%,0,0) scale(1.3);
    }
    100%{
        transform: translate3(0,0,0) scale(1.3);
    }
}

.control-dots {
    bottom: 25px;
}