
.filter {
    &-container {
        align-self: flex-end;
    }
}

.filter-container{
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.filter {
    &-container-modal {
        @include flex(row, space-between);
        flex-flow: wrap;
        width: 285px;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 10px;
        padding: 10px;
        background: black;
        border-radius: 10px;
        &__btn--close {
            @extend .btn--close
        }
        &--show {
            transform: translateX(0);
            transition: transform 700ms ease-out;
        }
        &--hide {
            transform: translateX(150%);
            transition: transform 700ms ease-in;
        }
    }
    &-list {
        margin: 0 5px;
        @include flex(row, flex-end);
        flex-wrap: wrap;
        }
}

.sort {
    &-container {
        align-self: flex-start;
        margin-left: 5px;
        &__select {
            background: black;
            font-size: 16px;
            background-repeat: no-repeat;
            background-size: 16px;
            background-position: 97%;
            margin: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            border: none;
            border-radius: 5px;
            min-width: 150px;
        }
        &__option {
            min-width: 150px;
        }
    }
}

.list-item {
    @include flex(row);
    position: relative;
    height: $mobile-game-size;
    background: $darkBg;
    margin:10px 0;
    transition: all 500ms ease;
    &:hover {
        background: $lightBg;
        color: black;
        transition: all 500ms ease;
    }
    &__lnk {
        display: contents;
    }
    &__game-block {
       position: relative;
       height: 100%;  
    }
    &__info-block {
        @include flex(column, space-between);
        height: 100%;
        width: 100%;
        position: relative;
    }
}

.game-block__text {
    cursor: default;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    padding: 0 4px;
}

.game-block {
    &__game-image {
        height: $mobile-game-size;
        width: $mobile-game-size;
    }
    &__rank {
        @extend .game-block__text;
        color: white;
        background: $darkBg;
    }
    &__discount {
        @extend .game-block__text;
        color: rgb(155, 211, 72);
        background: rgb(73, 114, 12);
    }
}

.icon-set {
    @include flex(row, flex-start, center);
    margin-right: 10px;
    & img {
        height: 20px;
    }
    & span {
        margin-left: 5px;
    }
}

.info-block{
    &--top {
        @include flex(row, space-between);
        margin: 0 5px 5px 5px;
        width: 100%;
    }
    &__title {
        width: 175px;
        font-size: 16px;
        font-weight: 700;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__pub-year {
        font-size: 10px;
    }
    &__publisher {
        font-size: 14px;
        max-width: 100%;
        white-space:  normal;
    }
    &--bottom {
        @include flex(row, space-between, flex-end);
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 5px 5px;
        font-size: 14px;
    }
    &__game-icons {
        display: flex;
    }
    &__price {
        text-align: right;
    }
    &__msrp--strike {
        text-decoration: line-through;
        opacity: 0.5;
    }

}



