.loader-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 6;
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    opacity: 1;
    // background: black;
}

.trail{
    position: absolute;
    &-bit {
    height: 30px;
    &-container {
        position: absolute;
        opacity: 0;
    }
    }
    &-x {
    }
}

.loading-icon-container {
    position: relative;
    display: inline-block;
}

.loading-icon {
    width: 30px;
    margin: 0 5px;
    animation: dice 1000ms cubic-bezier(.48,1.41,.67,1.2) infinite;
}

.loading-icon:nth-child(1) {
    animation-delay: 0ms;
}
.loading-icon:nth-child(2) {
    animation-delay: 100ms;
}
.loading-icon:nth-child(3) {
    animation-delay: 200ms;
}
.loading-icon:nth-child(4) {
    animation-delay: 300ms;
}
.loading-icon:nth-child(5) {
    animation-delay: 400ms;
}
.loading-icon:nth-child(6) {
    animation-delay: 500ms;
}



@keyframes ani-bit {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    20% {
        opacity: 1;
    }
    90% {
        transform: scale(0.95);
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes ani-x {
    0% {
        transform: scale(0);
    }
    20% {
        opacity: 1;
    }
    40% {
        transform: scale(2);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes dice {
    0% {
        transform: translateY(0);
    }

    50% {transform: translateY(-40px)}

    100% {
        transform: translateY(0);
    }
}
















@keyframes game {
    

    12% {
        transform: translateX(35px) translateY(-65px);
    }
    24% {
        transform: translateX(-5px) translateY(-130px);
    }
    36% {
        transform: translateX(70px) translateY(-130px);
    }
    49% {
        transform: translateX(140px) translateY(-130px);
    }
    61% {
        transform: translateX(105px) translateY(-65px);
    }
    74% {
        transform: translateX(135px) translateY(-5px);
    }
    86% {
        transform: translateX(70px) translateY(-5px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }

}