// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Roboto', sans-serif, 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: white !default;

///@type Color
$mainBg: #25434b !default;

///@type Color
$darkBg: rgba(black, 0.5) !default;

///@type Color
$lightBg: rgb(105, 174, 206) !default;

///@type Color
$secondary-color: rgb(0, 58, 124) !default;

/// Main brand color
/// @type Color
$brand-color: white !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

//Screen Sizes
///@type Length
$screen-sm-min: 481px !default;

///@type Length
$screen-md-min: 768px !default;

///@type Length
$screen-lg-min: 992px !default;

///@type Length
$screen-xl-min: 1200px !default;

// Component Sizes
///@type Length
$mobile-game-size: 115px !default;

///@type Length
$headerHt: 45px !default;

///@type Length
$searchbarHt: 25px !default;

///@type Length
$detailCoverWidth: 80% !default;

///@type Length
$titleFontSize: 20px;

///@type Length
$yearFontSize: $titleFontSize - 5px;

///@type Length
$secondaryTitleFontSize: 18px;

///@type Length
$minTitleFontSize: 16px;



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
